In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Kickstarter_projects_Feb19.csv")
df

,id,name,currency,main_category,sub_category,launched_at,deadline,duration,goal_usd,city,state,country,blurb_length,name_length,status,start_month,end_month,start_Q,end_Q,usd_pledged
0,1687733153,Socks of Speed and Socks of Elvenkind,USD,games,Tabletop Games,2018-10-30 20:00:02,2018-11-15 17:59:00,16.0,2000.00000,Menasha,WI,US,14,7,successful,10,11,Q4,Q4,6061.000000
1,227936657,Power Punch Boot Camp: An All-Ages Graphic Novel,GBP,comics,Comic Books,2018-08-06 10:00:43,2018-09-05 10:00:43,30.0,3870.99771,Shepperton,England,GB,24,8,successful,8,9,Q3,Q3,3914.505120
2,454186436,"Live Printing with SX8: ""Squeegee Pulp Up""",USD,fashion,Apparel,2017-06-09 15:41:03,2017-07-09 15:41:03,30.0,1100.00000,Manhattan,NY,US,21,7,successful,6,7,Q2,Q3,1110.000000
3,629469071,Lost Dog Street Band's Next Album,USD,music,Country & Folk,2014-09-25 18:46:01,2014-11-10 06:00:00,45.0,3500.00000,Nashville,TN,US,15,6,successful,9,11,Q3,Q4,4807.000000
4,183973060,"Qto-X, a Tiny Lantern",USD,technology,Gadgets,2016-11-28 16:35:11,2017-01-27 16:35:11,60.0,30000.00000,Troy,MI,US,15,4,successful,11,1,Q4,Q1,40368.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192543,1882418986,Book CafÃÂ© Bergen,NOK,food,Drinks,2016-10-19 18:07:51,2016-12-18 19:07:51,60.0,57858.66500,Bergen,Hordaland Fylke,NO,21,3,failed,10,12,Q4,Q4,1.224260
192544,89212319,Chainlink tool,NOK,technology,Fabrication Tools,2014-11-14 12:11:46,2014-12-31 12:59:00,47.0,115717.33000,BÃÂ¥tsfjord,Finnmark Fylke,NO,18,2,failed,11,12,Q4,Q4,157.273939
192545,109884142,PNW Juice Truck,USD,food,Drinks,2016-02-02 22:34:22,2016-03-03 22:34:22,30.0,30000.00000,Seattle,WA,US,13,3,failed,2,3,Q1,Q1,0.000000
192546,277520923,succulent christmas tree,USD,art,Conceptual Art,2014-08-06 18:16:29,2014-10-05 18:16:29,60.0,1200.00000,Los Angeles,CA,US,3,3,failed,8,10,Q3,Q4,143.000000
192547,2054018879,Monthly Herbal Boxes!,USD,crafts,DIY,2016-12-23 18:40:05,2017-02-21 18:40:05,60.0,7600.00000,Phoenix,AZ,US,20,3,failed,12,2,Q4,Q1,311.000000

In [3]:
#카테고리 종류
mc = df['main_category']
mc.value_counts()

music           25850
film & video    25622
technology      19592
art             19043
publishing      18676
food            14961
games           12567
fashion         10812
comics           8168
design           7719
photography      7346
crafts           6530
theater          6451
journalism       5287
dance            3924
Name: main_category, dtype: int64

# 카테고리별 sub_category 항목 별 데이터 수
---

## music 카테고리

In [4]:
# music 카테고리
mc_music = df.loc[df['main_category'] == 'music']
mc_music['sub_category'].value_counts()

Country & Folk      2628
Rock                2557
Indie Rock          2534
Classical Music     2495
Pop                 2468
Hip-Hop             2435
World Music         2156
Electronic Music    2148
Jazz                1999
Faith               1215
Metal                794
Music                718
R&B                  499
Punk                 340
Kids                 310
Blues                297
Latin                169
Comedy                47
Chiptune              41
Name: sub_category, dtype: int64

## film & video 카테고리

In [5]:
# film & video 카테고리
mc_filmvideo = df.loc[df['main_category'] == 'film & video']
mc_filmvideo['sub_category'].value_counts()

Documentary        2748
Shorts             2737
Narrative Film     2500
Animation          2461
Drama              2453
Webseries          2449
Comedy             2331
Horror             1409
Television         1010
Science Fiction     816
Thrillers           805
Action              749
Music Videos        711
Experimental        594
Fantasy             388
Family              358
Festivals           329
Movie Theaters      320
Film & Video        243
Romance             211
Name: sub_category, dtype: int64

## technology 카테고리

In [6]:
# technology 카테고리
mc_tech = df.loc[df['main_category'] == 'technology']
mc_tech['sub_category'].value_counts()

Gadgets              2826
Hardware             2609
Apps                 2460
Software             2451
Web                  2448
Wearables            1321
DIY Electronics      1115
Sound                 847
3D Printing           750
Robots                635
Camera Equipment      524
Flight                385
Space Exploration     352
Technology            346
Fabrication Tools     278
Makerspaces           245
Name: sub_category, dtype: int64

## art 카테고리

In [7]:
# art 카테고리
mc_art = df.loc[df['main_category'] == 'art']
mc_art['sub_category'].value_counts()

Illustration       2792
Mixed Media        2478
Public Art         2477
Painting           2440
Performance Art    2137
Sculpture          1839
Digital Art        1563
Conceptual Art     1034
Art                 822
Installations       563
Ceramics            353
Textiles            343
Video Art           202
Name: sub_category, dtype: int64

## publishing 카테고리

In [8]:
# publishing 카테고리
mc_publishing = df.loc[df['main_category'] == 'publishing']
mc_publishing['sub_category'].value_counts()

Children's Books     2785
Nonfiction           2604
Art Books            2581
Fiction              2580
Poetry               1461
Periodicals          1273
Radio & Podcasts     1021
Academic              947
Young Adult           859
Anthologies           561
Zines                 515
Calendars             407
Literary Journals     313
Publishing            304
Translations          162
Comedy                147
Literary Spaces        99
Letterpress            57
Name: sub_category, dtype: int64

## fashion 카테고리

In [9]:
# fashoin 카테고리
mc_fashion = df.loc[df['main_category'] == 'fashion']
mc_fashion['sub_category'].value_counts()

Accessories      3356
Apparel          2816
Jewelry          1470
Footwear         1109
Ready-to-wear     948
Childrenswear     530
Couture           262
Fashion           179
Pet Fashion       142
Name: sub_category, dtype: int64

## food 카테고리

In [12]:
# food 카테고리
mc_food = df.loc[df['main_category'] == 'food']
mc_food['sub_category'].value_counts()

Drinks               2785
Restaurants          2663
Small Batch          2202
Food Trucks          1875
Farms                1288
Vegan                 817
Events                693
Cookbooks             631
Food                  530
Spaces                524
Farmer's Markets      460
Community Gardens     305
Bacon                 188
Name: sub_category, dtype: int64

## design 카테고리

In [13]:
# design 카테고리
mc_design = df.loc[df['main_category'] == 'design']
mc_design['sub_category'].value_counts()

Product Design        3776
Graphic Design        2148
Architecture           752
Interactive Design     398
Civic Design           309
Design                 196
Typography             140
Name: sub_category, dtype: int64

## journalism 카테고리

In [14]:
# journalism 카테고리
mc_journalism = df.loc[df['main_category'] == 'journalism']
mc_journalism['sub_category'].value_counts()

Web           1882
Print         1126
Audio          694
Journalism     694
Video          613
Photo          278
Name: sub_category, dtype: int64

## games 카테고리

In [16]:
# games 카테고리
mc_games = df.loc[df['main_category'] == 'games']
mc_games['sub_category'].value_counts()

Tabletop Games     3430
Playing Cards      2556
Video Games        2459
Mobile Games       2397
Live Games         1018
Gaming Hardware     404
Puzzles             240
Games                63
Name: sub_category, dtype: int64

In [10]:
df['sub_category'].value_counts()

Web                4330
Product Design     3776
Tabletop Games     3430
Accessories        3356
Comic Books        3284
                   ...
Literary Spaces      99
Games                63
Letterpress          57
Chiptune             41
Taxidermy            15
Name: sub_category, Length: 159, dtype: int64

In [11]:
# music 카테고리 전처리
df.loc[(df['sub_category'] == 'Blues'),  'sub_category'] = 'Music'
df.loc[df['sub_category'] == 'Latin', 'sub_category'] = 'Music'
df.loc[df['sub_category'] == 'Comedy', 'sub_category'] = 'Music'
df.loc[df['sub_category'] == 'Chiptune', 'sub_category'] = 'Music'

# film & video 카테고리 전처리
df.loc[(df['sub_category'] == 'Romance'),  'sub_category'] = 'Film & Video'

# technology 카테고리 전처리
df.loc[(df['sub_category'] == 'Fabrication Tools'),  'sub_category'] = 'Technology'
df.loc[df['sub_category'] == 'Makerspaces', 'sub_category'] = 'Technology'

# art 카테고리 전처리
df.loc[(df['sub_category'] == 'Video Art'),  'sub_category'] = 'Art'

# publishing 카테고리 전처리
df.loc[(df['sub_category'] == 'Translations'),  'sub_category'] = 'Publishing'
df.loc[df['sub_category'] == 'Comedy', 'sub_category'] = 'Publishing'
df.loc[df['sub_category'] == 'Literary Spaces', 'sub_category'] = 'Publishing'
df.loc[df['sub_category'] == 'Letterpress', 'sub_category'] = 'Publishing'